/* Add spacing between tasks */
.list-group-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  background-color: #f9f9f9;
}

/* Make the task name pop out with a different background */
.list-group-item h5 {
  background-color: #e3f2fd;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/* Add some styling to the priority icons and text */
.text-danger {
  color: #dc3545 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-success {
  color: #28a745 !important;
}

/* Fixed header */
.fixed-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}


/* Tooltip styling */
.tooltip-inner {
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Strikethrough for completed tasks */
.completed-task {
  text-decoration: line-through;
}

/* Add spacing between buttons */
.btn-group .btn {
  margin-right: 0.5rem;
}

/* Adding new styles for the card styling */
.card {
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  /* position: relative; */
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-logout {
  background-color: coral;
  color:black
}

/* Ensure the buttons have the same width */
.fixed-width-btn {
  width: 100px; /* Adjust width as needed */
}


/* Additional styling for alignment */
.header-left button {
  margin-right: 10px; /* Adjust margin as needed */
}

@media (max-width: 576px) {
  /* Responsive adjustments for smaller screens */
  .fixed-width-btn {
    width: 80px; /* Adjust width for smaller screens */
  }
}


/* FontAwesome Edit and Delete Icons */

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.fa-edit {
  /* color: #007bff; */
  cursor: pointer;
}

.fa-trash {
  /* color: #dc3545; */
  cursor: pointer;
}

/* Edit and Delete Icons */
.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.card-sub-header {
  height: 15px; /* Half the height of the card header */
}

.priority-high .card-sub-header {
  background-color: rgba(220, 53, 69, 0.5); /* High priority with 50% transparency */
}

.priority-medium .card-sub-header {
  background-color: rgba(255, 193, 7, 0.5); /* Medium priority with 50% transparency */
}

.priority-low .card-sub-header {
  background-color: rgba(40, 167, 69, 0.5); /* Low priority with 50% transparency */
}