<div class="container">
  <!-- Header with Add Task and Filters -->
  <div class="fixed-header d-flex justify-content-between align-items-center mb-4">
    <div class="header-left d-flex">
      <button class="btn btn-primary fixed-width-btn mr-2" (click)="toggleTaskForm()" title="Add a new task">
        <i class="fas fa-plus"></i>
      </button>
      <button class="btn btn-danger fixed-width-btn" (click)="logOut()" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
    <div class="d-flex">
      <div class="form-group mr-2">
        <label for="filterStatus">
          <i class="fas fa-filter" aria-hidden="true"></i> Status
        </label>
        <select id="filterStatus" class="form-control" [(ngModel)]="filterStatus">
          <option value="">All</option>
          <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="filterPriority">
          <i class="fas fa-filter" aria-hidden="true"></i> Priority
        </label>
        <select id="filterPriority" class="form-control" [(ngModel)]="filterPriority">
          <option value="">All</option>
          <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
        </select>
      </div>
    </div>
  </div>

  <app-task-form *ngIf="showTaskForm && !selectedTask" (taskSaved)="onTaskSaved($event)" (formCancelled)="onFormCancelled()"></app-task-form>

  <!-- Task List -->
  <div class="list-group" role="list">
    <div *ngFor="let task of filteredTasks();" [ngClass]="getPriorityClass(task.priority)" class="card mb-4 box-shadow" role="listitem">
      <div class="card-header d-flex align-items-center justify-content-between">
        <div>
          <i class="fas" [ngClass]="task.status === 'completed' ? 'fa fa-check' : ''" (click)="toggleTaskStatus(task)" title="Toggle Task Status" aria-label="Toggle Task Status" class="mr-2"></i>
          <h4 class="my-0 font-weight-normal" [ngClass]="{'text-decoration-line-through': task.status === 'completed'}">
            {{ task.name }}
          </h4>
        </div>
        <div class="card-icons d-flex">
          <i class="fas fa-edit mr-3" (click)="editTask(task)" title="Edit" aria-label="Edit Task"></i>
          <i class="fas fa-trash" (click)="deleteTask(task.id)" title="Delete" aria-label="Delete Task"></i>
        </div>
      </div>
      <div class="card-sub-header"></div>
      <div class="card-body">
        <p class="card-text">
          <span><strong>Status:</strong> {{ task.status }}</span>
        </p>
        <p class="card-text" *ngIf="task.dueDate">
          <span><i class="fas fa-calendar-alt" aria-hidden="true"></i> {{ task.dueDate | date:'fullDate' }}</span>
        </p>
      </div>
      <!-- Show form below task being edited -->
      <app-task-form *ngIf="showTaskForm && selectedTask?.id === task.id" [task]="selectedTask" (taskSaved)="onTaskSaved($event)" (formCancelled)="onFormCancelled()"></app-task-form>
    </div>
  </div>
</div>
